@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
   
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.main {
  position: relative;
  top: 0px;
  padding: 0;
  margin: 0;
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 75vh;
}

.box {
  position: absolute;
  z-index: 1;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
}

nav {
  height: 70px;
  width: 65vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

nav > img {
  width: 130px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: calc(100% - 70px);
  color: white;
  position: relative;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
}

.hero > :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero > :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero > :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.hero > :nth-child(4) {
    display: flex;
    gap: 10px;
}

.btn {
    border-radius: 5px;
    font-family: "Lato", sans-serif;
}

nav .btn {
    font-size: 20px;
}

.btn-red {
    color: white;
    background-color: red;
    font-size: 24px;
    transition-duration: 0.5;
    font-weight: 700;
}

.btn-red:hover {
    background-color: #B20710;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.inp {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid rgba(255, 0, 0, 0.4);
    padding: 5px 150px 5px 10px;
    font-size: 24px;
}

.separation {
    height: 10px;
    background-color: rgb(50, 50, 50);
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 70vw;
    margin: auto;
}

.content > :nth-child(1) {
    font-size: 48px;
    font-weight: 700;
}

.content > :nth-child(2) {
    font-size: 24px;
}

.tv, .smartphone {
    position: relative;
}

.tv > img,  .smartphone > img {
    position: relative;
    z-index: 1;
    height: 500px;
}

#fourth img {
    height: 500px;
}

.tv > video {
    position: absolute;
    height: 276px;
    z-index: 0;
    top: 102px;
    left: 88px;
}

.smartphone > :nth-child(2) {
    position: absolute;
    top: 400px;
    left: 440px;
    z-index: 2;
    height: 100px;
}

.faq {
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}

.faq > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    width: 60vw;
    margin: auto;
    background-color: #222831;
    padding: 5px 10px;
    border-radius: 5px;
}

.faq > div:hover {
    background-color: #393E46;
}

.faq > div > img {
    height: 24px;
}

footer {
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 75vw;
    margin: 25px auto;
}

footer > div {
    font-size: 18px;
}

.grd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px 0;
}

.grd > div {
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: underline;
}

.grd a {
    color: white;
}

@media (max-width: 920px) {
    nav {
        width: 90vw;
        margin: auto;
    }  
    
    .hero > :nth-child(1) {
        font-size: 32px;
    }

    .hero > :nth-child(2) {
        font-size: 18px;
    }

    .hero > :nth-child(3) {
        font-size: 16px;
    }

    .hero > :nth-child(4) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inp {
        padding: 3px 75px 3px 6px;
    }

    .btn-red {
        width: 50%;
    }

    .flx, .faq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        padding: 15px 15px 15px 10px;
    }

    .content > :nth-child(1) {
        font-size: 32px;
    }
    
    .content > :nth-child(2) {
        font-size: 18px;
    }

    .tv > img,  .smartphone > img, #fourth img {
        height: 250px
    }

    .tv > video {
        height: 138px;
        top: 51px;
        left: 44px;
    }

    .smartphone > :nth-child(2) {
        top: 200px;
        left: 220px;
        height: 50px;
    }

    h2 {
        font-size: 24px;
    }

    .faq > div {
        width: 75vw;
        font-size: 18px;
    }

    .faq > div > img {
        height: 18px;
    }

    .grd {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}
